html, body {
	width: 100%;
	height: 100%;
}
.main-video {
	width: 70vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.main-video-stream {
	width: 100%;
	height: 45vh;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 1rem;
}
.main-video-description {
	display: inline-block;
	width: 100%;
	border: 1px solid black;
}

.main-video-title {
	font-size: 100%;
	width: 80%;
	height: 30%;
	text-overflow: ellipsis;
	overflow     : hidden; 
	white-space  : nowrap;
	margin-bottom: 0rem;
	margin-top: 0rem;
	line-height: 1.2;
	height:1.5em;
}
.main-video-content {
	font-size: 80%;
	width: 90%;
	display: inline-block;
	overflow     : hidden; 
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	height:4.8em;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}