body {
	background-color: black
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

figure {
	width: 20vw;
	height: 30vh;
	flex-basis: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

img {
	width: 100%;
	height: 80%;
}

figcaption {
	width: 100%;
	height: 20%;
	font-size: 1rem;
}

div.video-title {
	font-size: 100%;
	color: white;
	width: 80%;
	height: 30%;
	text-overflow: ellipsis;
	overflow     : hidden; 
	white-space  : nowrap;
	margin-bottom: 0rem;
	margin-top: 0rem;
}
div.video-metadata {
	font-size: 80%;
	color: gray;
	width: 90%;
	display: inline-block;
	overflow     : hidden; 
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	height:2.4em;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}